__pycache__/
.cache/
.DS_Store/
.ipynb_checkpoints/
.temp/
.tmp/
.venv/
.vs/
.vscode/
build*/
GPATH/
GRTAGS/
GTAGS/
install/
out/
temp/
tmp/
venv/

*.a
*.bin
*.dll
*.dylib
*.exe
*.gif
*.jpg
*.lib
*.o
*.obj
*.out
*.pdf
*.png
*.root
*.so*
*.svg
*.swp
*.tar
G4History.macro
